USE [master]
GO
/****** Object:  Database [Videotheek]    Script Date: 17/12/2017 15:41:12 ******/
CREATE DATABASE [Videotheek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Videotheek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Videotheek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Videotheek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Videotheek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Videotheek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Videotheek]
GO
USE [Videotheek]
GO
/****** Object:  User [GertjanVerhelst]    Script Date: 17/12/2017 15:41:12 ******/
CREATE USER [GertjanVerhelst] FOR LOGIN [GertjanVerhelst] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/12/2017 15:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 17/12/2017 15:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Movie_Title] [nvarchar](255) NOT NULL,
	[Genre] [nvarchar](max) NOT NULL,
	[Release_Date] [datetime] NOT NULL,
	[Created_At] [datetime] NOT NULL,
	[Modified_At] [datetime] NOT NULL,
	[Deleted_At] [datetime] NULL,
	[PEGI] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[reserved_Amount] [int] NOT NULL,
	[available_Amount] [int] NOT NULL,
	[Movie_Description] [nvarchar](max) NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Movie_Title], [Genre], [Release_Date], [Created_At], [Modified_At], [Deleted_At], [PEGI], [Duration], [reserved_Amount], [available_Amount], [Movie_Description], [amount]) VALUES (3, N'test', N'test', CAST(N'2012-01-01T00:00:00.000' AS DateTime), CAST(N'2017-12-16T20:21:31.437' AS DateTime), CAST(N'2017-12-16T20:21:31.437' AS DateTime), CAST(N'2017-12-17T13:42:59.987' AS DateTime), 16, 120, 0, 15, N'test', 15)
INSERT [dbo].[Movies] ([Id], [Movie_Title], [Genre], [Release_Date], [Created_At], [Modified_At], [Deleted_At], [PEGI], [Duration], [reserved_Amount], [available_Amount], [Movie_Description], [amount]) VALUES (5, N'test', N'test', CAST(N'2011-01-01T00:00:00.000' AS DateTime), CAST(N'2017-12-16T20:23:32.270' AS DateTime), CAST(N'2017-12-16T20:23:32.270' AS DateTime), CAST(N'2017-12-17T13:43:07.060' AS DateTime), 18, 120, 0, 25, N'test', 25)
INSERT [dbo].[Movies] ([Id], [Movie_Title], [Genre], [Release_Date], [Created_At], [Modified_At], [Deleted_At], [PEGI], [Duration], [reserved_Amount], [available_Amount], [Movie_Description], [amount]) VALUES (6, N'test', N'horror', CAST(N'2017-01-01T00:00:00.000' AS DateTime), CAST(N'2017-12-16T20:41:18.237' AS DateTime), CAST(N'2017-12-16T20:41:18.237' AS DateTime), CAST(N'2017-12-17T13:43:09.217' AS DateTime), 18, 120, 0, 50, N'test', 50)
SET IDENTITY_INSERT [dbo].[Movies] OFF
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [reserved_Amount]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [available_Amount]
GO
USE [master]
GO
